
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
 <script>
	
	

	
    </script>
    
   <style>
     .trash { color:rgb(209, 91, 71); }




.panel-body .checkbox { display:inline-block;margin:0px; }


.list-group { margin-bottom:0px; }
   </style>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
	    <!-- <li role="presentation"><a href="/showAddWish">Add Wish</a></li> -->
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Coopals Platform</h3>
      </div>

     

	

    <div class="row">
        <div class="col-md-12">
            
                <div class="panel-body">

                    <ul id="ulist" class="list-group">
                        <li class="list-group-item">
                            <div class="checkbox">
                                <a href = "/ShowverifyTrainer">Verify Trainers</a>
                            </div>
                            <div class="pull-right action-buttons">
                                <!-- <a data-id=${Id} onclick="Edit(this)" ><span class="glyphicon glyphicon-pencil"></span></a> -->
                               
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <a href = "/ShowSearchPhoto">search Photo by user Id</a>
                            </div>
                            <div class="pull-right action-buttons">
                                <!-- <a data-id=${Id} onclick="Edit(this)" ><span class="glyphicon glyphicon-pencil"></span></a> -->
                               
                            </div>
                        </li>
 
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </div>








       
     

      

      <footer class="footer">
        <p>&copy; Coopals 2016</p>
      </footer>

    </div>


  </body>
</html>

